@import "tailwindcss";

body {
  font-family: var(--main-font), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.logo-font {
  font-family: var(--font-logo), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.bg-custom-darkgreen {
  background-color: #182618;
}

.bg-custom-green {
  background-color: #c6fe6c;
}
