@import "tailwindcss";

.logo-font {
  font-family: var(--font-logo), "JetBrains Mono", Arial, Helvetica, sans-serif;
}

.bg-custom-darkgreen {
  background-color: #182618;
}

.bg-custom-green {
  background-color: #c6fe6c;
}
